$primary-color: #5d5b8d;

.Message{
    display: flex;
    margin-top: 10px;
  }
  
  .Message.currentMember {
    justify-content: flex-end;
    flex-direction: row;
    text-align: right;
  }
  
  .Message-text > .username {
    display: block;
    color: $primary-color;
    font-size: 15px;
    padding-bottom: 1px;
  }
  
  .Message-text > .text {
    padding: 15px;
    max-width: 400px;
    margin: 0;
    border-radius: 10px 20px;
    background-color: cornflowerblue;
    color: white;
    display: inline-block;
  }
  